<!DOCTYPE html>
<html>

<head>

    <title>Information</title>
    
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/sidebar.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	
	<link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
	
    <script src="static/js/jquery-1.11.3.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jPushMenu.js"></script>
    <script src="static/js/jquery.scrollUp.min.js"></script>
    
    <script type="text/javascript">
		$(window).load(function() {
			$(".loader").fadeOut("slow");
		})
	</script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

	<div class="loader"></div>
	
	<style>
	
	.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('static/images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
	}
	
	</style>
	
	<header>
	
		<div class="top-heading">
			<div class="container">

				<ul class="social-icons pull-right">
					<li><a href="https://www.linkedin.com/in/alagu-prakalya-p/" class="icon fa fa-linkedin"></a></li>
					<li><a href="https://twitter.com/AlaguPrakalya" class="icon fa fa-twitter"></a></li>
					<li><a href="https://github.com/Lagstill" class="icon fa fa-github"></a></li>
					<li><a href="#" class="icon fa fa fa-google-plus"></a></li>
				</ul>
			</div>
		</div>

        <nav class="navbar-default navbar-static-top" id="navbar-default" style="border-radius:0;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle toggle-menu menu-left push-body" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        <a class="navbar-brand" href="/"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="RedditAnalyser">Reddit Analyser</a></li>
                        <li><a href="RealtimePrediction">Realtime Prediction</a></li>
                        <li><a href="ChatBot">Chat Bot</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <style>
        
        	.navbar-default {
        		background: #F5F5F5;
        	}
        
        	.navbar-default .navbar-nav li a {
        		color: #000;
        	}
        	
        	.navbar-default .navbar-toggle .icon-bar {
				background: #000;
			}
            .navbar-nav {
				float: right;
			}
			
			@media screen and (max-width: 768px) {
			.navbar-nav {
				float: left;
			}
			}
			
        
        </style>

        
    </header>
    
    
    <div class="container">
    	<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li class="active">Information</li>
		</ul>
	</div>

    <div class="container">
        <img src="static/images/info.png" class="img-responsive">
        <div class="row">
    		<div class="col-md-12">
    			<h1>Myers-Briggs Type Indicator</h1>
                <p>The Myers-Briggs Type Indicator (MBTI)—also referred to as the “Myers-Briggs personality test” or simply the “Myers-Briggs test”—is a self-reported questionnaire. The test helps people assess their personality using four specific dichotomies, or scales: introversion-extraversion, sensing-intuition, thinking-feeling and judging-perceiving.The MBTI was first developed in the 1940s by Isabel Briggs Myers and her mother Katharine Cook Briggs, and it's based on psychologist Carl Jung's theory of psychological types. The purpose of the test is to “make the theory of psychological types described by C.G. Jung understandable and useful in people's lives,” according to the Myers & Briggs Foundation. In other words, the MTBI is intended to give clarity and understanding of a person's personality type in a practical way.</p>
                <p> Myers and Briggs first tested friends and family to collect data, workshop the questions and determine how to weigh each answer. In 1951, more than 5,000 medical students across 45 medical schools used the MBTI to help determine which areas of medicine in which they would specialize. Since then, the questionnaire has been used to help people both in and outside the workplace learn more about their personality and the personalities of the people around them.</p>                    
                <p>There are 16 personality types in the MBTI, all of which include a letter for each side of the four scales the person aligns with most. Letters always follow the same order, and scales are abbreviated using the following letters:</p>
                <ul>
                    <li>Introversion (I) or Extraversion (E)</li>
                    <li>Sensing (S) or Intuition (N)</li>
                    <li>Thinking (T) or Feeling (F)</li>
                    <li>Judging (J) or Perceiving (P)</li>
                </ul>
                <p>Each of the scales operates as a spectrum. Although a personality may not fall perfectly into one type, the four-letter type code represents the side of each of the four scales a person most closely fits.</p>
                <p>For example, a person who leans toward introversion, intuition, thinking and judging would be considered personality type INTJ. Naturally, there are 15 other personality permutations across these four spectrums.</p>
                <p>No personality type is superior to the others. Each one simply gives a clearer indication of a person's likes, dislikes, strengths and weaknesses.</p>
                <h3><b>Is the Myers Briggs Type Indicator Valid?</b></h3>
                <p>“Despite the MBTI's brand name appeal, personality researchers have considerable skepticism concerning its actual validity compared to more conventional personality tests,” says Romeo Vitelli, Ph.D., a private practice psychologist and psychology consultant at Mom Loves Best. While scientific journals have published thousands of studies using the MBTI over the decades, some researchers question the MBTI's objectivity, the questionnaire format and the reliability of the test scores. That said, the MBTI remains one of the most widely-recognized personality tests globally for its simplicity, ease of use and longstanding history as a workplace tool, he says.</p>
                <h3><b>What Is the Myers Briggs Personality Test Used for?</b></h3>
                <p>Many businesses, including a large number of Fortune 500 companies, turn to the MBTI for guidance worldwide. The test has been used as a tool for hiring, team-building, conflict prevention and leadership development purposes. The MBTI may also help people determine how compatible they are with one another, romantically or platonically, says Vitelli.</p>
                <p>“The MBTI is a useful tool for understanding how people differ in their preferences for how they perceive the world and make decisions,” says Vitelli. “It can be used to help people understand their own preferences and those of others, and to help them understand how to work with others who have different preferences.”</p>
                <p>For example, a person who is an introvert may be more comfortable working alone, while an extrovert may prefer to work in a group. A person who is a thinker may prefer to make decisions based on logic, while a person who is a feeler may prefer to make decisions based on emotions. A person who is a judger may prefer to make decisions based on facts, while a person who is a perceiver may prefer to make decisions based on possibilities.</p>
                <p>“The MBTI can help people understand how they differ from others and how to work with those differences,” says Vitelli. “It can also help people understand how to work with others who have different preferences.”</p>
                <h3><b>Myers Briggs Personality Types</b></h3>
                <img src="static/images/info1.png" class="center" >
                <h4><b>Extraversion-Introversion</b></h4>
                <p>Extraversion (E) and introversion (I) are the first of the four scales in the MBTI. Extraverts are energized by being around other people, while introverts are energized by being alone. Extraverts tend to be more outgoing, while introverts tend to be more reserved. Extraverts tend to be more comfortable in social situations, while introverts tend to be more comfortable in quiet settings. Extraverts tend to be more comfortable in leadership roles, while introverts tend to be more comfortable in support roles.</p>
                <ul><b>Common traits of introverts include:</b>
                    <li>They are more reserved and quiet.</li>
                    <li>They are more comfortable in quiet settings.</li>
                    <li>They are more comfortable in leadership roles.</li>
                    <li>They are more comfortable in support roles.</li>
                </ul>
                <ul><b>Common traits of extraverts include:</b>
                    <li>They are more outgoing and social.</li>
                    <li>They are more comfortable in social situations.</li>
                    <li>They are more comfortable in leadership roles.</li>
                    <li>They are more comfortable in support roles.</li>
                </ul>
                <img src="static/images/info2.png" class="center" >            
                <h4><b>Sensing-Intuition</b></h4>
                <p>Sensing (S) and intuition (N) are the second of the four scales in the MBTI. Sensing types tend to be more practical and concrete, while intuition types tend to be more abstract and conceptual. Sensing types tend to be more comfortable with the status quo, while intuition types tend to be more comfortable with change. Sensing types tend to be more comfortable with facts, while intuition types tend to be more comfortable with possibilities.</p>
                <ul><b>Common traits of sensing personalities include:</b>
                    <li>Remembering accurate snapshots of events</li>
                    <li>Being a fact-based problem solver</li>
                    <li>A preference for a realistic “bottom line” approach</li>
                    <li>Valuing experience more than words and/or symbols</li>
                    <li>Overlooking potential possibilities due to overanalyzing facts</li>
                </ul>
                <ul><b>Common traits of intuition personalities include:</b>
                    <li>“Reading between the lines”</li>
                    <li>An interest in new, different experiences</li>
                    <li>Bouncing between possible scenarios</li>
                    <li>Valuing impressions, metaphors and symbols more than lived experience</li>
                    <li>A difficulty bringing possibilities to reality</li>
                </ul>
                <img src="static/images/info3.png" class="center" >
                <h4><b>Thinking-Feeling</b></h4>
                <p>Thinking (T) and feeling (F) are the third of the four scales in the MBTI. Thinking types tend to be more logical and objective, while feeling types tend to be more empathetic and subjective. Thinking types tend to be more comfortable with logic, while feeling types tend to be more comfortable with emotions. Thinking types tend to be more comfortable with making decisions based on facts, while feeling types tend to be more comfortable with making decisions based on values.</p>
                <ul><b>Thinking personalities commonly display as:</b>
                    <li>Enjoying fields where logic is key</li>
                    <li>Noticing errors or inconsistencies</li>
                    <li>Searching for logical solutions to problems</li>
                    <li>A desire to be fair and make decisions based on logic</li>
                    <li>Believing in direct truth-telling</li>
                    <li>Not always accounting for people's emotions or experiences</li>
                    <li>Being task oriented and appearing indifferent or uncaring</li>
                </ul>
                <ul><b>Feeling personalities commonly display as:</b>
                    <li>Enjoying fields where people are key</li>
                    <li>Noticing people's emotions or experiences</li>
                    <li>Searching for solutions that are fair to all</li>
                    <li>A desire to be fair and make decisions based on people's feelings</li>
                    <li>Believing in indirect truth-telling</li>
                    <li>Not always accounting for logic or facts</li>
                    <li>Being people oriented and appearing overly sensitive or emotional</li>
                </ul>
                <img src="static/images/info4.png" class="center" >
                <h4><b>Judging-Perceiving</b></h4>
                <p>Judging (J) and perceiving (P) are the fourth of the four scales in the MBTI. Judging types tend to be more organized and structured, while perceiving types tend to be more flexible and spontaneous. Judging types tend to be more comfortable with the status quo, while perceiving types tend to be more comfortable with change. Judging types tend to be more comfortable with making decisions based on facts, while perceiving types tend to be more comfortable with making decisions based on possibilities.</p>
                <ul><b>Common displays of judging personalities may include:</b>
                    <li>They are more organized and structured.</li>
                    <li>Enjoying when things are decided</li>
                    <li>Being task oriented</li>
                    <li>Enjoying to-do lists</li>
                    <li>Having a “work before play” attitude</li>
                    <li>Planning ahead to avoid rushing or procrastination</li>
                    <li>Being highly goal oriented, but sometimes missing information due to narrow focus</li>
                </ul>
                <ul><b>Common displays of perceiving personalities may include:</b>
                    <li>Being open-minded</li>
                    <li>Being casual or not one to make plans</li>
                    <li>Mixing work with play</li>
                    <li>Being productive in bursts of energy</li>
                    <li>Receiving added stimulation from pressure or deadlines</li>
                    <li>Having difficulty making decisions</li>

                </ul>
            </div>
    	</div>
    </div>


        

    <div class="copyright-part">
		<p>&copy 2023 <span>Persona - 19PD05</span> All Rights Reserved</p>
	</div>
    
    
    <script type="text/javascript">
    
      $(document).ready(function(){
        $('.toggle-menu').jPushMenu({closeOnClickLink: false});
        $('.dropdown-toggle').dropdown();
      });
      
    </script>
    
    
    <script type="text/javascript">
    
    $(function () {
  		$.scrollUp({
    		scrollName: 'scrollUp', // Element ID
    		topDistance: '300', // Distance from top before showing element (px)
    		topSpeed: 600, // Speed back to top (ms)
    		animation: 'fade', // Fade, slide, none
    		animationInSpeed: 200, // Animation in speed (ms)
    		animationOutSpeed: 200, // Animation out speed (ms)
    		activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
    		scrollImg: true,
  		});
	});
    
    </script>
    

</body>

</html>
